.avatar-icon {
    background-color: orange;
}

.search {
    background-color: orange;
}

.notification-card {
    background-color: inherit;
}
.notification-card:hover {
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}
.notification-col {
    background-color: rgb(226, 223, 223);
}
.notification-content {
    font-size: 0.95rem;
}
.notification-date {
    float: right;
    font-size: 1rem;
    font-weight: bold;
}
.notification-title {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
}

.messages {
    background-color: orange;
}

.first {
    background-color: orange;
}

.tmail {
    background-color: orange;
}

